<section class="two-way-binding">
  <article>
    <h3>Two Way Data Binding</h3>
    <div>
       
      <input type="text"
      [value]="nome"
      (input)="nome = $event.target.value"
      />

      <input type="text"
      [ngModel]="nome"
      (ngModelChange)="nome = $event"
      />

      <input type="text"
      [(ngModel)]="nome"
      />
      <p>Você digitou: {{ nome }}</p>
      <br><br>

      <input type="text"
      [(ngModel)]="pessoa.nome"
      />
      <input type="text"
      [(ngModel)]="pessoa.idade"
      />
        <br>
      Seu nome é {{ pessoa.nome }} e você tem {{ pessoa.idade }}
      
    </div>
  </article>

</section>